.vbox{
-fx-background-color: white;
}


.nav-btn{
-fx-cursor: hand;
-fx-background-color: #164B60;
-fx-background-radius: 10;

}
.nav-btn:hover{
-fx-background-color: #9DDE8B ;
}
.home-btn{
-fx-background-color: #164B60 ;
-fx-cursor: hand;
-fx-background-radius: 10;
}
.home-btn:hover{
-fx-background-color: #65B741;
}