/*dark blue: #006769
medium green: #40A578
light green: #9DDE8B
light yellow: #FDDE55
green: #65B741
navy: #164B60
*/
.inputs{
        -fx-border-color: #ccc;
        -fx-border-width: 2px;
        -fx-border-radius: 10px;
        -fx-text-fill: black;
        -fx-background-color: white;
        -fx-faint-focus-color: transparent;

}
.inputs:hover{
  -fx-background-color:#9DDE8B;
}


.label{
 -fx-text-fill: rgb(255, 255, 255);
 -fx-font-size: 12px;
 -fx-font-weight: bold;
 -fx-margin-top: 10px;


}
.combo-box .arrow-button {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #164B60;
    -fx-background-radius: 10px;
}

.combo-box .list-view {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.combo-box .list-cell {

    -fx-text-fill: black;
}

.combo-box {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 11px;
}

.combo-box .arrow-button:hover{
  -fx-background-color: #9DDE8B;
}

.btn, .btn1 {
    -fx-background-color: #9DDE8B;
    -fx-text-fill: white;
    -fx-background-radius: 11px;
    -fx-border-radius: 10px;
    -fx-font-weight: bold;
}

.btn:hover {
    -fx-background-color: #40A578;
    -fx-cursor: hand;
}
.green:hover{
    -fx-background-color:  RGB(0, 128, 0);
    -fx-cursor: hand;
}
.red:hover{
-fx-background-color:#B22222;
    -fx-cursor: hand;
}

.table {
-fx-background-color:white;
-fx-border-radius: 0 0 15 15;
-fx-background-radius: 0 0 15 15;

}

.col{
-fx-background-color: #9DDE8B;

}



